---
---

@import "{{ site.theme }}";
#banner {
  z-index: 100;
  left:0;
  right:50%;
  height: 50px;
  margin-right:-382px;
  position: fixed;
  top: 115px;
  background: #ffcc00;
  border: 1px solid #f0b500;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  border-radius: 0px 2px 2px 0px;
  padding-right: 10px;

  .button {
    border: 1px solid #dba500;
    background: linear-gradient(rgb(255, 231, 136), rgb(255, 206, 56));
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.4), 0px 1px 1px rgba(0,0,0,.1);
    background-color: #FFE788;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    color:#333;
    font-weight: bold;
    display:inline-block;
    text-align:center;

    &:hover {
      background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
      background-color: #ffeca0;
    }
  }

  .fork {
    position:fixed;
    left:50%;
    margin-left:-325px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    background-color: #FFE788;
  }

  .downloads {
    float: right;
    margin:0 45px 0 0;

    span {
      float:left;
      line-height:52px;
      font-size:90%;
      color:#9d7f0d;
      text-transform:uppercase;
      text-shadow:rgba(#fff, 0.2) 0 1px 0;
    }
  }

  ul {
    list-style:none;
    height:40px;
    padding:0;
    float: left;
    margin-left:10px;

    li {
      display:inline;

      a.button {
        background-color: #FFE788;
      }
    }
  }

  #logo {
    position:absolute;
    height: 36px;
    width: 36px;
    right:7px;
    top:7px;
    display: block;
    background: url(../logos/excelerate.png);
  }
}
